/* standard css */

body {
  font-family: verdana;
  font-size: 11pt;
}

#quizze {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#quizze td, #quizze th {
  border: 1px solid #ddd;
  padding: 8px;
}

#quizze tr:nth-child(even){background-color: #f2f2f2;}

#quizze tr:hover {background-color: #ddd;}

#quizze th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}