<!doctype html>

<html lang="en-us">   
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome to Quiziie 0.1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" >
  </head>
  
  <body>
    <h1>Welcome to Quizzie 0.1</h1>
    <h3>availble quizzes for the current user profile</h3>
    <table>
        <thead>
            <th>Id</th><th>Title</th>
        </thead>
        <tbody>
            {%for quiz in quizzes%}
            {% set filename = quiz.id %}
             <tr>
                <td>{{quiz.id}}</td> 
                <td><a href="{{ url_for('getQuizz', id=quiz.id, _external=True)}}">{{quiz.title}}</a></td>
             </tr>
            {%endfor%} 
        </tbody>
    </table>

  </body> 
</html>