<html>
    <head>
        <title>Details about a quiz</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" >
    </head>
    <body>
        <h3>Details about a quiz</h3>
        <table>
            <tbody>
                 <tr>
                    <td>Id</td>
                    <td>{{quiz.id}}</td> 
                 </tr>
                 <tr>
                    <td>Title</td>
                    <td>{{quiz.title}}</td> 
                 </tr>
                 <tr>
                    <td>Author</td>
                    <td>{{quiz.author}}</td> 
                 </tr>
                 <tr>
                    <td>Language</td>
                    <td>{{quiz.lang}}</td> 
                 </tr>
                 <tr>
                    <td>Creation date</td>
                    <td>{{quiz.createDate}}</td> 
                 </tr>
                 <tr>
                     <td>Level</td>
                     <td>{{quiz.level}}</td> 
                  </tr>
                  <tr>
                     <td>Category</td>
                     <td>{{quiz.category}}</td> 
                  </tr>
          </tbody>
        </table>
    </body>
</html>
