<html>
    <head>
        <title>All the quizzes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" >
    </head>
    <body>
        <h3>List of all quizzes</h3>
        <table id="quizze">
            <thead>
                <th>Id</th><th>Title</th>
            </thead>
            <tbody>
                {%for quiz in quizzes%}
                {% set filename = quiz.id %}
                 <tr>
                    <td>{{quiz.id}}</td> 
                    <td><a href="{{ url_for('getQuizz', id=quiz.id, _external=True)}}">{{quiz.title}}</a></td>
                 </tr>
                {%endfor%} 
            </tbody>
        </table>
    </body>
</html>
